/* global styling */
* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 50px;
  color: #c3c0c0;
}

/* topnav styling */

body {
  background-color: #404472;
}

/* styling question container */

.center-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 60%;
  border: 1px solid #b29758;
  padding: 10px;
  border-radius: 16px;
}

/* styling  generate button */
.generate-button {
  background-color: #b29758;
  color: #191c40;
  position: relative;
  margin: 20px;
  padding: 5px;
  border-radius: 16px;
  transition-duration: 0.4s;
}

.generate-button:hover {
  background-color: #c3c0c0;
  color: #191c40;
}

/* Styling the instructions container */

.instructions-container {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 60%;
  border: 1px solid #b29758;
  padding: 10px;
  border-radius: 16px;
}

.instructions-list {
  margin-left: 5%;
}

.instructions-list-item {
  text-align: left;
}
